
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>Welcome to YeeOffice for SharePoint Online Unattended</h2>
    <h4>Please sign in to begin install</h4>
    <hr />
    <p><a href="/SPOnline/RequestPermissions?type=1" class="btn btn-primary btn-lg">Sign In Office365</a></p>
    <p><a href="/SPOnline/RequestPermissions?type=2" class="btn btn-primary btn-lg">Sign In Office365 China</a></p>
</center>