@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no" />
    <title>Token</title>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/3.5/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="https://static.sharepointonline.com/bld/_layouts/15/16.0.7206.1205/init.js"></script>
    <script type="text/javascript" src="https://static.sharepointonline.com/bld/_layouts/15/16.0.7206.1205/sp.runtime.js"></script>
    <script type="text/javascript" src="https://static.sharepointonline.com/bld/_layouts/15/16.0.7206.1205/sp.init.js"></script>
    <script type="text/javascript" src="https://static.sharepointonline.com/bld/_layouts/15/16.0.7206.1205/sp.js"></script> 
    <script src="~/Scripts/jquery-1.10.2.min.js"></script> 
</head>
<body>
    <div>
    </div>
</body>
</html>
<script defer="defer" type="text/javascript">
    $(function () { 
        var context = new SP.ClientContext("https://akmiihk.sharepoint.com");
        context.add_executingWebRequest(clientContext_ExecutingWebRequest)
        var web = context.get_web();
        context.load(web);
        context.executeQueryAsync(function () {
            console.log(web.Title)

        }, function (sender, args) {
        });
       // return title;
    });

    function clientContext_ExecutingWebRequest(sender, e) {
      //  e.get_webRequest()._headers["Authorization"]= "Bearer " + "                                                                                                                                                              .SPOToken";
    }
</script>