
@{
    ViewBag.Title = "GetUserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUserList</h2>

<table class="table table-striped table-bordered table-hover table-condensed">
    @foreach (var user in ViewBag.ORG)
    {
      <tr><td>@user.Subject</td><td>@user.BodyPreview</td></tr>
    }
</table>
