
@{
    ViewBag.Title = "GetUserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUserList</h2>

<table class="table table-striped table-bordered table-hover table-condensed">
    @foreach (var user in ViewBag.Users)
    {
      <tr><td>@user.DisplayName</td><td>@user.Id</td></tr>
    }
</table>
