@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <li>
        <a href="@Html.Raw(GraphAPIDemo.App_Start.Config.URL)/Account/SignIn?type=1" style="text-decoration: none;">
            <span class="ak-useicon office"></span>
            <br>
            <span akmii-text="login_office365">Office365全球版登陆</span>
        </a>
    </li>
    <li>
        <a href="@Html.Raw(GraphAPIDemo.App_Start.Config.URL)/Account/SignIn?type=2" style="text-decoration: none;">
            <span class="ak-useicon office-blue"></span>
            <br>
            <span akmii-text="login_office36521v">Office365中国版登陆</span>
        </a>
    </li>
</div>