
@{
    ViewBag.Title = "LoginIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginIn</h2>

<a href="/Home/GetUserList" style="text-decoration: none;">
    <span class="ak-useicon office"></span>
    <br>
    <span akmii-text="login_office365">获取人员列表</span>
</a>
<a href="/Home/GetORGList" style="text-decoration: none;">
    <span class="ak-useicon office"></span>
    <br>
    <span akmii-text="login_office365">获取Meeting信息</span>
</a>
<a href="/Home/GetMailList" style="text-decoration: none;">
    <span class="ak-useicon office"></span>
    <br>
    <span akmii-text="login_office365">获取邮件列表</span>
</a>
<a href="/Home/setMail" style="text-decoration: none;">
    <span class="ak-useicon office"></span>
    <br>
    <span akmii-text="login_office365">发送邮件</span>
</a>
<a href="/Home/getUserFile" style="text-decoration: none;">
    <span class="ak-useicon office"></span>
    <br>
    <span akmii-text="login_office365">列出最近使用的文档</span>
</a>